<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <p>Dear {{ user_name }}</p>
    <p>To reset your password, simply click on the link below. This will take you to a web page where you can create a new password</p>
    <div>
      <a href="{{ reset_link }}">{{ reset_link }}</a>
    </div>
    <p>If you weren't trying to reset your password, no sweat -- your account is still secure and no one has been given access to it. Most likely, someone just mistyped their email address while trying to reset their own password.</p>
    <p>Note: The password-reset link is only valid for 3 days.</p>
  </div>>
</body>
</html>>