<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div>
    <p>{{ content }}</p>
    <p>As a home remodeling professional, my business relies on recommendations from my clients. I would appreciate it if you would write a brief review for me on Houzz.com, the largest and most influential directory of remodeling and design professionals.</p>

    <p>Click this link</p>
    <div>
      <a href="{{ make_review_link }}">{{ make_review_link }}</a>
    </div>


    <p>Thanks in advance and let me know if you have any questions</p>

    <p>{{ name }}</p>
  </div>
</body>
</html>>