<!-- home.html -->

{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Welcome to Django{% endblock %}
{% block head %}
<style type="text/css">
	label{
		
		font-size:  20px;


	}
	td{
		font-size: 20px;
		text-align: left;
		padding: 5px;

	}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css '%}"
{% endblock %}
{% block content %}

    <h1> Welcome {{ user.get_full_name|default:user.username }} !!! </h1>    
    <button type="button" onclick="window.location.href='/logout/' ">Logout</button><br>
    <table >
    <h1 style="text-align: left;"><b>Profile</b></h2>
    <tr>
    	<td>
    		<label>First name:</label>
    	</td>
    	<td><i>{{user.first_name}}</i></td>

    </tr>
    <tr>
    	<td>
    		<label>Last name:</label>
    	</td>
    	<td><i>{{user.last_name}}</i></td>
    </tr>
    <tr>
    	<td>
    		<label>Username:</label>
    	</td>
    	<td><i>{{user.username}}</i></td>
    </tr>
    <tr>
    	<td>
    		<label>Email adress:</label>
    	</td>
    	<td><i>{{user.email}}</i></td>
    </tr>
    <tr>
    	<td>
    		<label>Date joined:</label>
    	</td>
    	<td><i>{{user.date_joined}}</i></td>
    </tr>
    <tr>
    	<td>
    		<label>Last login:</label>
    	</td>
    	<td><i>{{user.last_login}}</i></td>
    </tr>

    	
    </table>
{% endblock %}
